@using WebApplication1.Dtos.NhomHang
@{
    List<NhomHangDtos> nhomhangs = ViewData["nhomHangs"] as List<NhomHangDtos> ?? [];
}




<h2> Nhóm hàng hóa </h2>
<a href="/nhom-hang/them-moi" class="btn btn-primary">Thêm mới </a>

<table class="table">

    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Tên nhóm</th>
            <th scope="col">Ghi Chú</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in nhomhangs)
        {
            <tr data-id="@item.NhomId">
                <th scope="row">@item.NhomId</th>
                <td>@item.TenNhom</td>
                <td>@item.GhiChu</td>
                <td>
                    <a href="/nhom-hang/chinh-sua?nhomID=@item.NhomId" class="btn btn-primary btn-sm">Sửa</a>
                    <button type="button" class="btn btn-danger btn-sm btn-xoa">Xóa</button>
                </td>
            </tr>
        }

    </tbody>
</table>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            $('.btn-xoa').on('click', function () {
                const isConfirm = confirm('Bạn có chắc muốn xóa không?')
                if (isConfirm === true) {
                    const trElement = $(this).closest('tr')
                    const nhomId = trElement.attr('data-id')
                    const url = '/nhom-hang/delete?nhomId=' + nhomId
                    fetch(url, {
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        method: 'Post',
                    })
                    .then(resp => resp.json())
                    .then(resp => {
                        if (resp.IsSuccess === false) {
                            alert(resp.Message)
                            return
                        }
                        trElement.remove()
                    })
                }
            })
        })
    </script>
}
